@import '~sass-rem';
@import '../../assests/styles/variables';

.movies-calender {
  padding: 0 7rem;

  .movies-calender-container {
    min-height: calc(100vh - 23rem);
    padding-top: 1rem;
    padding-right: 10rem;
    padding-left: 10rem;

    &__header {
      display: flex;
      padding: 0.9375rem 0.9375rem 0.9375rem 0;
    }

    .options-dropdown {
      display: flex;
      justify-content: center;
      border: 0.0625rem solid;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    .weekDropdown {
      padding: 0.5rem 1.1rem;

      &__icon {
        padding-left: 1rem;
        color: map-get($grey, 1700);
      }
    }

    .arrow-wrap {
      display: flex;
      padding: 0 2rem;
      border-radius: rem(4px);
    }

    .img {
      margin: 0 0.7rem;
      cursor: pointer;
    }

    .tooltip--weekly {
      min-width: 3rem !important;
      text-transform: capitalize;
    }

    .month-pick {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.25rem;
      border: rem(1px) solid;
      border-radius: rem(4px);
    }

    .calendar {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      margin: 0 auto;
    }

    .movie-card {
      background-color: #FFF;
      width: 9rem;
      max-height: 15.875rem;
      margin: 1rem 1.5rem 0.75rem 0;
      padding: 0.5rem;
      box-shadow: 0 0.925rem 1rem 0 rgba(0, 0, 0, 0.2);
      float: left;

      &__container {
        text-decoration: none;
      }

      &__title {
        position: relative;
        display: block;
        margin: 0;
        font-family: 'alternate-gothic-no-1-d', 'Futura Condensed', 'Arial Narrow',Arial,sans-serif;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        color: map-get($grey, 1700);
      }

      &__date {
        display: block;
        font-family: 'Times New Roman',serif;
        color: #929292;
        font-style: italic;
      }
    }

    .image {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: rem(188px);
    }
  }
}
