.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282C34;
  min-height: 100vh;
}

.App-link {
  color: #61DAFB;
}
