@import '~sass-rem';
@import '../../assests/styles/variables';

.carousel-container {
  height: 23rem;
  padding: 0 17rem;

  .carousel {
    cursor: pointer;
  }

  .carousel-image {
    width: 70rem;
    height: 22rem;
    padding-top: 1.5rem;
  }

  .slide1,
  .slide2,
  .slide3 {
    position: absolute;
    background: no-repeat center;
    background-size: cover;
  }

  .slide1 {
    -webkit-animation: fade 8s infinite;
    animation: fade 8s infinite;
  }

  .slide2 {
    -webkit-animation: fade2 8s infinite;
    animation: fade2 8s infinite;
  }

  .slide3 {
    -webkit-animation: fade3 8s infinite;
    animation: fade3 8s infinite;

  }

  @keyframes fade {
    0% {
      opacity: 1;
    }

    33.333% {
      opacity: 0;
    }

    66.666% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

  }

  @keyframes fade2 {
    0% {
      opacity: 0;
    }

    33.333% {
      opacity: 1;
    }

    66.666% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade3 {
    0% {
      opacity: 0;
    }

    33.333% {
      opacity: 0;
    }

    66.666% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
