@import '~sass-rem';
@import '../../assests/styles/variables';

.single-movie-page {
  background-color: #FFF;
  height: auto;
  padding: 3.75rem 4.90625rem 3.125rem;
  border: 0.0625rem solid #E0E0E0;
  border-radius: 0.25rem;
}
